.ActionBar {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
}

.ViewStyle {
    background-image: url(../assets/images/etc/viewstyle.png);
    width: 124px;
    height: 40px;
}

.SearchBar {
    background-image: url(../assets/images/etc/searchbar.png);
    width: 238px;
    height: 40px;
}