.Title img {
    display: block;
}


.Button {
    cursor: pointer;
    padding: 0px 15px;

    width: 100%;
    height: 39px;

    border: none;
    text-align: right;
    outline: none;
    line-height: 100%;
    font-size: 13px;
}

.Showmore {
    background: url(../assets/images/etc/showmore.png);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}

.Showless {
    background: url(../assets/images/etc/showless.png);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}

.Button:hover, .active {
    color: red;
}

.Button img {
    width: 15px;
}

.Content {
    padding: 0 15px;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease-out;
    background-color: white;
}

.ActiveContent {
    padding: 0 15px;
    height: 310px;
    overflow: hidden;
    transition: height 0.4s ease-out;
    background-color: white;
}

.ImageContainer {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    background-color: #262525;
}

.Images {
    display: block;
    width: 344px;
    height: 300px;
    margin: 5px 0;
}