.Footer {
    background-image: url(../assets/images/etc/footer_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #350404;
    width: 100%;
    height: 286px;
}