.Nav {
    background-image: url(../assets/images/etc/header.png);
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;

    z-index: 100;
    display: grid;
    grid-template-areas:
            "a b c";
    grid-template-columns: 1fr 1fr 1fr;
}

.Wrapper {
    grid-area: b;
    margin: auto;
}

.Nav ul {
    grid-area: c;
    height: 80px;
    margin: 0;
    padding: 0;
    overflow: hidden;

    list-style-type: none;
}

.Nav li {
    float: right;
}

.Nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    line-height: 80px;
    width: 100px;
    font-size: 20px;
    font-family: sans-serif;
}

.Nav li a:hover {
    background-color: #111;
}
